.mai2 {
  background-color: rgba(16, 15, 15, 0.992);
  height: 100vh;
  border: solid 2pt black;
  overflow:hidden;
  color: white;
  height: 100vh;
  border: solid 2pt black;
  overflow:hidden
}

.small2{
  display: flex;
  justify-content: center;
  width: 9cm;
  justify-content: space-between;
  width: 8cm;
  margin-left: 1cm;
  margin-top: 2cm; 
}

.box2 {
    background-color: rgb(50, 53, 53);
    height: 1cm;
    width: 6cm;
    text-align: center;
    outline: none;
  }
  button{
    margin-top: 2cm;
    height: 1cm;
    width: 2cm;
    background-color: rgba(213, 185, 24, 0.727)
  }
  .a2{
    height: 10cm;
    width: 11cm;
    margin-right: 78cm;
    margin-top: 1.5cm;
    

  }
  .o2{
    margin-top: -3cm;
    text-align: center;
  }
  @media screen and (max-width:1280px) {
    .o2{
      margin-top: 3cm;
      text-align: center;
    }
  }
  @media screen and (max-width:760){
    .mai2{
      overflow-y: scroll;
    }
  }
  .a2{
    height: 6cm;
    width: 11cm;
    margin-right: 78cm;
    margin-top: 1.5cm;
  }